@using System.IO;
@using System.Drawing;
@using Image = System.Drawing.Image;
@model IEnumerable<ReadyToWin.Complaince.Entities.UserTransaction.UserAmountDeposit>

@{
    ViewBag.Title = "ListOfUserAmountDeposit";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<style type="text/css">
    .toolTip {
        font-family: Verdana, Arial, Sans-serif, 'Times New Roman';
        font-size: 8pt;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        opacity: 1;
        /* comment the above 3 line if you don't want transparency*/
    }
</style>
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"> <b>List Of User Amount Deposited </b></h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> View Report
        </a>
    </div>
</div>
<div class="container">
    <div id="toolTipLayer" style="position:absolute; visibility: hidden;left:0;right:0">
    </div>
    <h3> <B> RECENT Amount Deposited ACTIVITY </B></h3>
    <div class="table-responsive">
        <table id="exampletbl" class="table table-hover display">
            <thead style="color:#4e73df;">
                <tr>
                    @*<th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedBy)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DepositAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentModeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.ApprovedAmount)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Remarks)
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody style="color: #4e73df;;">
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td title="@item.CreatedDate">
            @String.Format("{0:dd/MM/yyyy}", item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td title="@item.UpdatedDate">
            @String.Format("{0:dd/MM/yyyy}", item.UpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>*@
                        <td>
                            <a href="/Home/Preview/@item.Id" target="_blank" onMouseOver="show('data:image/@item.FileExt;base64,@Convert.ToBase64String(item.PaymentScreenshot)')"
                               onMouseOut="toolTip()" class="Text">@Html.DisplayFor(modelItem => item.UserName)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepositAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentModeId)
                        </td>
                        <td>
                            <span id="@(item.Id)statusmsg">@Html.DisplayFor(modelItem => item.Status)</span>
                            @*@Html.DisplayFor(modelItem => item.Status)*@
                            @*<div id="div_img" style="height:100px;width:100px;border:solid 1px black;visibility:hidden;">
            <img id="img_tool" src="data:image/@item.FileExt;base64,@Convert.ToBase64String(item.PaymentScreenshot)" alt="@item.CreatedBy" height="100%" width="100%" />
        </div>*@
                            @*<img src="data:image/@item.FileExt;base64,@Convert.ToBase64String(item.PaymentScreenshot)" alt="@item.CreatedBy"/>*@
                        </td>
                        @*<td>
            @Html.DisplayFor(modelItem => item.ApprovedAmount)
        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </td>
                        <td>
                            @if (item.Status != "Approved" && item.Status != "Rejected")
                            {
                            <img id="@(item.Id)img_loading" src="~/Content/img/loaderio.gif" style="width: 40px;display:none;" />
                            <button id="@(item.Id)approve" type="button" onclick="ApproveReject(@item.Id,@item.UserId,'A');" class="btn btn-success"> Approved</button>
                            <button id="@(item.Id)reject" type="button" onclick="ApproveReject(@item.Id,@item.UserId,'R');" class="btn btn-danger"> Reject</button>
                            <span id="@(item.Id)isaprejectmsg"></span>
                            }
                        </td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>
</div>
@section scripts {
    <!-- Core plugin JavaScript-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script language="javascript" defer="false">
        //browser detection
        var agt = navigator.userAgent.toLowerCase();
        var is_major = parseInt(navigator.appVersion);
        var is_minor = parseFloat(navigator.appVersion);

        var is_nav = ((agt.indexOf('mozilla') != -1) && (agt.indexOf('spoofer') == -1)
            && (agt.indexOf('compatible') == -1) && (agt.indexOf('opera') == -1)
            && (agt.indexOf('webtv') == -1) && (agt.indexOf('hotjava') == -1));
        var is_nav4 = (is_nav && (is_major == 4));
        var is_nav6 = (is_nav && (is_major == 5));
        var is_nav6up = (is_nav && (is_major >= 5));
        var is_ie = ((agt.indexOf("msie") != -1) && (agt.indexOf("opera") == -1));
    </script>
    <script language="JavaScript">

        var offsetX = 0;
        var offsetY = 5;
        var opacity = 100;
        var toolTipSTYLE;

        function initToolTips() {
            if (document.getElementById) {
                toolTipSTYLE = document.getElementById("toolTipLayer").style;
            }
            if (is_ie || is_nav6up) {
                toolTipSTYLE.visibility = "visible";
                toolTipSTYLE.display = "none";
                document.onmousemove = moveToMousePos;
            }
        }
        function moveToMousePos(e) {
            if (!is_ie) {
                x = e.pageX;
                y = e.pageY;
            } else {
                x = event.x + document.body.scrollLeft;
                y = event.y + document.body.scrollTop;
            }

            toolTipSTYLE.left = x+ offsetX + 'px';
            toolTipSTYLE.top = y + offsetY + 'px'
            return true;
        }


        function toolTip(msg, fg, bg) {
            if (toolTip.arguments.length < 1) // if no arguments are passed then hide the tootip
            {
                if (is_nav4)
                    toolTipSTYLE.visibility = "hidden";
                else
                    toolTipSTYLE.display = "none";
            }
            else // show
            {
                if (!fg) fg = "#777777";
                if (!bg) bg = "#ffffe5";
                var content = '<table border="0" cellspacing="0" cellpadding="0" class="toolTip"><tr><td bgcolor="' + fg + '">' +
                    '<table border="0" cellspacing="1" cellpadding="0"<tr><td bgcolor="' + bg + '">' +
                    '<font face="sans-serif" color="' + fg + '" size="-2">' + msg +
                    '</font></td></tr></table>' +
                    '</td></tr></table>';
                if (is_nav4) {
                    toolTipSTYLE.document.write(content);
                    toolTipSTYLE.document.close();
                    toolTipSTYLE.visibility = "visible";
                }

                else if (is_ie || is_nav6up) {
                    document.getElementById("toolTipLayer").innerHTML = content;
                    toolTipSTYLE.display = 'block'
                }
            }
        }

        s = '<table width="100%" cellspacing="2" cellpadding="0" border="0">';
        s += '<tr><td><img src="http://upload.wikimedia.org/wikipedia/meta/2/2a/Nohat-logo-nowords-bgwhite-200px.jpg" border="0"/> </td><td valign="top">WikiPedia</td></tr>';
        s += '<tr><td colspan="2" class="Text"><hr/>this is a test for simple tooltip. <br/>You can add text and images to the tooltip</td></tr>';
        s += '</table>'

        function show(s) {
            toolTip('<img src="' + s + '" border="0" style="height:100%;width:250px;border:solid 1px black;"/>')
            //toolTip(s)
        }

    </script>
    <script type="text/javascript">
        function ApproveReject(_id, _usrId, type) {
            $('#' + _id + 'img_loading').show();
            $('#' + _id + 'approve,#' + _id + 'reject').hide();
            callControllerMethod2(_id, _usrId, type,_id);
            //setTimeout(function () {
            //    $('#' + _id + 'img_loading').hide();
            //    $('#' + _id + 'isaprejectmsg').text(type == 'A' ? 'Approved' : 'Reject');
            //}, 3000);
        }
        function callControllerMethod2(value1, value2,value3,_id) {
            var response = null;
            $.ajax({
                async: true,
                url: "ApproveReject?_id=" + value1 + " &_usrId=" + value2 + " &type=" + value3,
                cache: false,
                dataType: "json",
                success: function (data) { receiveResponse(data, _id, value3); }
            });
        }
        function receiveResponse(response, _id, type) {
            if (response != null && response.Code == 205) {
                alert(response.Message);
                $('#' + _id + 'img_loading').hide();
                $('#' + _id + 'isaprejectmsg,#' + _id + 'statusmsg').text(type == 'A' ? 'Approved' : 'Reject');
            }
        }
        $(document).ready(function () {
            //$('#example').DataTable({
            //    lengthMenu: [
            //        [10, 25, 50, -1],
            //        [10, 25, 50, 'All'],
            //    ],
            //});
            $('#exampletbl').DataTable();
            initToolTips();
            
        });
    </script>
}