@model IEnumerable<ReadyToWin.Complaince.Entities.AdminModel.AmountOnGameByGameType>

@{
    ViewBag.Title = "AmountOnGameByGameType";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<link href="~/Content/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"> <b>Total Games</b></h1>
        <a href="/Winning/Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Total Games
        </a>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">RECENT Beting Details</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="exampletbl" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.UserId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GameTypeName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GameSubCategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BetNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BetAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.createdDate)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GameTypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GameSubCategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BetNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BetAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.createdDate)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <!-- Page level plugins -->
    <script src="~/Content/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#exampletbl').DataTable();
        });
    </script>
}